$primary: 	#202020;
$secondary: #121212;

$textColorPrimary: 	#fff;
$textColorSecondary: #f3f3f3;

$btnWork: rgb(207, 12, 12);
$btnWrite: rgb(48, 12, 207);

$z-index: 		 1000;
$z-index-modal: 		 1010;
$sidebar-width: 300px;

	// <!--media-->
$tablet-bp: 992px;
$mobile-bp: 768px;
$small-bp: 576px;
$х-small-bp: 360px;