@import "_vars";
@import "vendor/reset";

HTML {
	font-size: 62.5%;
}

body {
   background-color: #181818;
	
	font-family: -apple-system,BlinkMacSystemFont,Segoe\ UI,Roboto,Helvetica\ Neue,Arial,Noto\ Sans,sans-serif;
   font-size: 1.4rem;
   color: white;
}

a {
	text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
}

//import scss block for file//

@import "blocks/page";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/subnav";
@import "blocks/search";
@import "blocks/sidebar";
@import "blocks/main";

@import "blocks/container";
@import "blocks/stories";
@import "blocks/add-posts";
@import "blocks/post";
@import "blocks/embed";
@import "blocks/pagination";
@import "blocks/related";
@import "blocks/comments";
@import "blocks/form";

@import "blocks/profile";
@import "blocks/social";
@import "blocks/btn";

