.form {
	&__group {
		margin-bottom: 1.5rem;
		position: relative;
	}
	&__control {
		display: block;
		width: 100%;
		padding: 0.5rem 0.75rem;

		background: none;
		border: none;
		border-bottom: 1px solid #3f3f3f;
		
		border-radius: 0;
		box-shadow: none;
		font-family: inherit;
		font-size: 1.4rem;
		color: $textColorPrimary;
			&::placeholder {
				color: rgba($textColorPrimary, .2);
			}
			&:focus + .form__line {
				width: 100%;
			}
			&__md {
				margin-bottom: 2.5rem;
			}
		&__textarea {
			height: 30px;
			overflow: hidden;
			resize: none;
		}
	}
	&__line {
		width: 0;
		height: 1px;

		background-color: $btnWrite;
		
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		transition: width .2s linear;
	}
	&__auth {
		max-width: 28rem;
		margin: 0 auto;
	}
	&__footer {
		&__list {
			display: flex;
			justify-content: center;
		}
		&__item {
			margin: 0.5rem;
			a {
				font-size: 1.2rem;
				line-height: 1.2;
				color: $textColorPrimary;
			}
		}
	}
}

.center {
	text-align: center;
}