.nav {
	@include breakepoint ($tablet-bp) {
		display: none;
	}
	&--mobile {
		display: none;
		@include breakepoint ($tablet-bp) {
			display: block;
			margin: 3rem 0;
		}
	}
	&__list {
		display: flex;

		@include breakepoint ($tablet-bp) {
			flex-direction: column;
		}
	}
	
	&__item {
		position: relative;
		color: $textColorPrimary;
		&:hover {
			> .subnav {
				display: block;
			}
		}
	}
	&__link {
		display: block;
		text-decoration: none;
		text-transform: uppercase;
		line-height: 2rem;
		color: $textColorPrimary;
		padding: 1.2rem 2rem;
		border-radius: 15px 0px;

		@include breakepoint ($tablet-bp) {
			font-size: 1.6rem;
		} 
		&:hover {
			background-color: $btnWrite;
			text-decoration: none;

			@include breakepoint ($tablet-bp) {
				background-color: transparent;
			}
		}
	}
}

.has-subnav {
	position: relative;
	&:after {
		position: absolute;
		top: 50%;
		right: 5%;
		content: "";
		display: block;
		border-style: solid;
		border-width: 6px 5px 0 5px;
		border-color: $textColorPrimary
		transparent
		transparent
		transparent;
		transform: translateY(-50%);
	}
}