.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	overflow: hidden;
	&__title {
		font-size: 2.1rem;
		color: $textColorPrimary;
		margin-bottom: 3rem;
	}
}