.search {
	width: 100%;
	max-width: 21rem;
	background-color: $primary;
	&__input {
		width: 100%;
		display: block;
		padding: 1.2rem 2rem;
		background-color: transparent;
		border: none;

		font-family: inherit;
		font-size: 1.2rem;
		color: $textColorPrimary;

		&::placeholder {
			color: ($textColorPrimary, .4);
		}
	}
}