.subnav {
	width: 16.5rem;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	border-radius: 0 0 5px;
	background-color: $btnWrite;

	box-shadow: 0 6px 8px rgba($secondary, .2);

	@include breakepoint ($tablet-bp) {
		width: 100%;
		position: static;

		padding-left: 2rem;

		background-color: transparent;
		box-shadow: none;
	}
	&__item {
		
	}
	&__link {
		font-size: 1rem;
		transition: background-color .2s ease-in-out;
			@include breakepoint ($tablet-bp) {
				font-size: 1.4rem;
			}
	}
}