<div class="modal">
	<div class="modal__content">
		<h1 class="page__title center">Войти</h1>

		<button class="modal__close" type="button">
			<i class="fa fa-times"></i>
		</button>

		<form class="form" action="/" method="post">

			<div class="form__group form__group__md">
				<input class="form__control" type="text" placeholder="Ваше имя" >
				<span class="form__line"></span>
			</div>

			<div class="form__group form__group__md">
				<input class="form__control" type="email" placeholder="Ваш e-mail" >
				<span class="form__line"></span>
			</div>

			<div class="form__group form__group__md">
				<textarea class="form__control form__control__textarea" placeholder="текст сообщения" name=""></textarea>
				<span class="form__line"></span>
			</div>

			<div class="form__footer">
				<div class="form__group form__group__md">
					<button class="btn btn__rounded btn__write">Войти</button>
				</div>
			</div>
		</form>

		<ul class="modal__footer">
			<li>e-mail: 
				<a href="mailto:">tolubaria.legitimus@i.ua</a>
			</li> 
			<li>тел: 
				<a href="tel:+380939055170"> +380939055170</a>
			</li>
		</ul>
	</div>
</div>