<div class="modal">
	<div class="modal__content">

		<button class="modal__close" type="button">
			<i class="fa fa-times"></i>
		</button>

		<ul class="social modal__content--contact">
			<li class="social__item">
				<a class="social__link" href="#">
					<div class="faLink"><i class="fab fa-linkedin-in"></i></div>
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#">
					<i class="fab fa-github"></i>
				</a>
			</li>

			<li class="social__item">
				<a class="social__link" href="#">
					<i class="fab fa-gitlab"></i>
				</a>
			</li>
		</ul>

	</div>
</div>