<aside class="sidebar" id="sidebar">
	<div class="sidebar__header">
		<img class="sidebar__header__img" src="assets/images/sidebar/SidebarHeaderImg.jpg" alt="background" />
	</div>

	<div class="sidebar__content">
		<div class="profile">
			<div class="profile__info">
				<img class="profile__avatar" src="assets/images/sidebar/photo.jpg" height="10px" alt="background" />
				<div class="profile__cover">
					<div class="profile__name">Толубаря Наталия</div>
					<div class="profile__prof">front-end developer</div>
				</div>
			</div>
			<ul class="social">
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<div class="faLink"><i class="fab fa-linkedin-in"></i></div>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<i class="fab fa-github"></i>
					</a>
				</li>
				<li class="social__item">
					<a class="social__link" href="#" target="_blank">
						<i class="fab fa-gitlab"></i>
					</a>
				</li>
			</ul>

			<div class="profile__text">
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
					Aliquam quam illum ipsam, eveniet reprehenderit, quas officia molestias 
					provident commodi quia enim quaerat velit ex nemo. Vel odio quia quae iste.
				</p>
			</div>
		</div><!--/Profile-->
	</div><!--/Sidebar__content-->

	<div class="sidebar__footer">
		<a class="btn btn__work" href="works.html">Мои работы</a>
		<button class="btn btn__write" type="button" data-modal="contact-modal">Написать мне</button>
	</div>
</aside>
