<div class="modal" id="story-modal">
	<div class="modal__content modal__content--story">
		<video class="modal__video" src="" poster="/images/w3html5.gif"></video>
		<!-- <video width="400" height="4 80" controls poster="video/duel.jpg">
			<source src="video/duel.ogv" type='video/ogg; codecs="theora, vorbis"'>
			<source src="video/duel.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
			<source src="video/duel.webm" type='video/webm; codecs="vp8, vorbis"'>
			Элемент video не поддерживается вашим браузером. 
			<a href="video/duel.mp4">Скачайте видео</a>.
		</video> -->
	</div>
</div>